In [0]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [0]:
List_url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(List_url).text

In [0]:
soup = BeautifulSoup(source, 'xml')

In [0]:
table=soup.find('table')

In [0]:
column_names = ['Postalcode','Borough','Neighborhood']
df = pd.DataFrame(columns = column_names)

In [0]:
for tr_cell in table.find_all('tr'):
    row_data=[]
    for td_cell in tr_cell.find_all('td'):
        row_data.append(td_cell.text.strip())
    if len(row_data)==3:
        df.loc[len(df)] = row_data

In [7]:
df.head()

  Postalcode           Borough                Neighborhood
0        M1A      Not assigned
1        M2A      Not assigned
2        M3A        North York                   Parkwoods
3        M4A        North York            Victoria Village
4        M5A  Downtown Toronto  Regent Park / Harbourfront

In [0]:
df=df[df['Borough']!='Not assigned']

In [0]:
temp_df=df.groupby('Postalcode')['Neighborhood'].apply(lambda x: "%s" % ', '.join(x))
temp_df=temp_df.reset_index(drop=False)
temp_df.rename(columns={'Neighborhood':'Neighborhood_joined'},inplace=True)

In [0]:
df_merge = pd.merge(df, temp_df, on='Postalcode')

In [0]:
df_merge.drop(['Neighborhood'],axis=1,inplace=True)

In [0]:
df_merge.drop_duplicates(inplace=True)

In [0]:
df_merge.rename(columns={'Neighborhood_joined':'Neighborhood'},inplace=True)

In [19]:
df_merge

    Postalcode  ...                                       Neighborhood
0          M3A  ...                                          Parkwoods
1          M4A  ...                                   Victoria Village
2          M5A  ...                         Regent Park / Harbourfront
3          M6A  ...                  Lawrence Manor / Lawrence Heights
4          M7A  ...       Queen's Park / Ontario Provincial Government
..         ...  ...                                                ...
98         M8X  ...   The Kingsway / Montgomery Road  / Old Mill North
99         M4Y  ...                               Church and Wellesley
100        M7Y  ...              Business reply mail Processing CentrE
101        M8Y  ...  Old Mill South / King's Mill Park / Sunnylea /...
102        M8Z  ...  Mimico NW / The Queensway West / South of Bloo...

[103 rows x 3 columns]

In [21]:
df_merge.shape

(103, 3)